html {
  scroll-behavior: smooth;
}

body {
  background-color: #dee0e0;
}
.App {
  text-align: center;
}

.jumbotron {
  height: 100vh;
  background-color: #dee0e0;
  color: #3f512b;
}

#about {
  height: 100vh;
}

#projects {
  height: 75vh;
}

.col-9 hr {
  border-color: #3f512b;
  width: 75%;
  text-align: right;
  margin: 0 0 0 auto;
}

.col-9 {
  position: relative;
  margin-top: 100px;
  text-align: right;
}

#colimg {
  width: 300px;
}

li {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
}

li,
a {
  font-family: Josefin Sans;
  text-decoration: none;
  color: #3f512b;
  text-align: center;
  text-decoration: none;
  width: 120px;
  padding: 0 20px;
  text-transform: uppercase;
}

.navbar {
  color: #3f512b;
}

h3,
h5 {
  font-family: Josefin Sans;
  color: #3f512b;
}

.nav-link:hover {
  text-decoration: none;
  color: #3f512b;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: #3f512b;
  transition: width 0.2s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.2s;
}

.about {
  font-family: Josefin Sans;
  font-size: 18px;
}

#proj {
  /* border: solid 2px black; */
  margin: 25px;
  background-color: #eeefef;
}

#logo {
  max-height: 80px;
  max-width: 80px;
}

.col-8,
.col-4 {
  text-align: left;
}

.space {
  min-height: 10%;
}

.typewriter span {
  width: auto;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #3f512b;
  animation: typing 4.5s steps(40, end), cursor-blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #3f512b;
  }
}
