body {
  background-color: #333333;
}
.App {
  text-align: center;
}

.jumbotron {
  height: 75vh;
  background-color: white;
}

#colimg {
  width: 300px;
}

li {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
}

li,
a {
  font-family: Josefin Sans;
  text-decoration: none;
  color: yellow;
  text-align: center;
  text-decoration: none;
  width: 120px;
  padding: 0 20px;
  text-transform: uppercase;
}

.navbar {
  color: yellow;
}

.nav-link:hover {
  text-decoration: none;
  color: yellow;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: yellow;
  transition: width 0.2s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.2s;
}

.about {
  font-family: Josefin Sans;
  font-size: 18px;
}

#proj {
  border: solid 2px black;
  margin: 25px;
  background-color: yellow;
}

.row {
  background-color: red;
}
